@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Pages.cshtml";
}
<body>
    <section class="header2 cid-sxcAXm7ky2 mbr-fullscreen" id="header2-2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <h3 class="mbr-section-subtitle mbr-fonts-style display-1">
                        Hi, I'm Garden Landscaper
                    </h3>
                    <p class="mbr-text text mbr-fonts-style display-4">Lorem ipsum dolor sit amet, pri autem nemore bonorum te. Autem fierent ullamcorper ius no, nec ea quodsi invenire.</p>
                    <div class="si">
                        <img class="sign" src="assets/images/signature.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="right-side col-12 col-md-6 item-wrapper">
                    <img src="assets/images/photo-1561905834-50cae0568a35-800x800.jpg" alt="">
                </div>
                <div class="left-side col-12 col-md">
                    <h3 class="mbr-section-subtitle mbr-fonts-style display-7">Somayah.</h3>
                    <h5 class="mbr-section-title mbr-fonts-style display-1">HADJICARIM</h5>
                    <p class="mbr-text desc mbr-fonts-style display-4">
                        Lorem ipsum dolor sit amet, pri omnium verterem id, sit labore dicunt an, ea civibus.
                    </p>
                    <ul class="contact-info__list list-style--none position-relative z-index-101">
                        <li class="mb-4 pl-4">
                            <i class="position-absolute fas fa-envelope"></i> hadjicarim.sh69@s.msumain.edu.ph
                        </li>
                        <li class="mb-4 pl-4">
                            <i class="position-absolute fas fa-phone"></i> +69763083936
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="right-side col-12 col-md-6 item-wrapper">
                    <img src="assets/images/photo-1561905834-d470806ee072-800x800.jpg" alt="">
                </div>
                <div class="left-side col-12 col-md">
                    <h3 class="mbr-section-subtitle mbr-fonts-style display-7">Hanifah A.</h3>
                    <h5 class="mbr-section-title mbr-fonts-style display-1">BUKHARI</h5>
                    <p class="mbr-text desc mbr-fonts-style display-4">
                        Lorem ipsum dolor sit amet, pri omnium verterem id, sit labore dicunt an, ea civibus.
                    </p>
                    <ul class="contact-info__list list-style--none position-relative z-index-101">
                        <li class="mb-4 pl-4">
                        <i class="position-absolute fas fa-envelope"></i> bukhari.ha48@s.msumain.edu.ph
                        </li>
                        <li class="mb-4 pl-4">
                        <i class="position-absolute fas fa-phone"></i> +69762448009
                        </li>
                    </ul>
                    <div class="mbr-section-btn"><a class="btn btn-success-outline display-4" href="">View more</a></div>
                </div>
            </div>
            @* <li class="mb-4 pl-4">
                <span class="position-absolute"><i class="fas fa-map-marker-alt"></i></span> College of Information and Computing Sciences
                <br> Mindanao State University
                <br> Marawi- City
            </li> *@
        </div>
</body>
